.ui-criar-conta-clinicops-corrigido {
  width: 100%;
  min-height: 100%;
}

.ui-criar-conta-clinicops-corrigido * {
  box-sizing: border-box;
}

body {
            font-family: 'Public Sans', sans-serif;
        }
