.ui-dashboard-equipe-lifemed {
  width: 100%;
  min-height: 100%;
}

.ui-dashboard-equipe-lifemed * {
  box-sizing: border-box;
}

body { font-family: 'Manrope', sans-serif; }
        .hide-scrollbar::-webkit-scrollbar {
            display: none;
        }
        .hide-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
