.ui-novo-registro-de-anamnese-hub-de-modelo-p02 {
  width: 100%;
  min-height: 100%;
}

.ui-novo-registro-de-anamnese-hub-de-modelo-p02 * {
  box-sizing: border-box;
}

body { font-family: 'Manrope', sans-serif; }
        .sidebar-item-active { border-right: 3px solid #13ecec; background: rgba(19, 236, 236, 0.1); }
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }
