.ui-servicos-lifemed-clinicops {
  width: 100%;
  min-height: 100%;
}

.ui-servicos-lifemed-clinicops * {
  box-sizing: border-box;
}

body {
            font-family: 'Manrope', sans-serif;
        }
        .scrollbar-hide::-webkit-scrollbar {
            display: none;
        }
        .scrollbar-hide {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
